.intro__list {
    max-width: 100%;
    padding: 0px;
    margin: 33px 0px 0px;
    font-family: 'Inter', sans-serif;
    font-size: 12px;
    line-height: 150%;
    font-weight: bold;
    list-style: none;
}
@media screen and (max-width: 1024px) {
}
@media screen and (max-width: 768px) {
}
@media screen and (max-width: 320px) {
}