.lead {
    margin: 56px 148px 92px;
    max-width: 984px;
    max-height: 1005px;
    display: flex;
    flex-direction: column;
}
@media screen and (max-width: 1024px) {
    .lead {
        margin: 48px 48px 92px;
    }
}
@media screen and (max-width: 768px) {
    .lead {
        max-width: 768px;
        margin: 48px 0px 88px;
    }
}
@media screen and (max-width: 320px) {
    .lead {
        max-width: 320px;
        margin: 48px 0px 64;
    }
}