@media screen and (max-width: 320px) {
   .header__logo {
      max-width: 150px;
   }
}
@media screen and (max-width: 320px) {
   .header__logo {
      max-width: 145px;
   }
}
@media screen and (max-width: 320px) {
   .header__logo {
      max-width: 142px;
   }
}
