.footer__link {
    margin-right: 18px;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    line-height: 112%;
    font-weight: normal;
    text-decoration: none;
    color: #ffffff;
    cursor: url("../../../../images/Pointer.png"), pointer;
    opacity: 1;
    
}
.footer__link:hover {
    opacity: 0.8;
}
.footer__link:nth-child(5) {
    margin: 0px;
}
@media screen and (max-width: 320px) {
    .footer__link {
        margin: 32px auto 0px 0px;
        font-size: 24px;
        line-height: 100%;
    }
    .footer__link:nth-child(1) {
        margin: 0px 230px 0px 0px;
    }
    .footer__link:nth-child(5) {
        margin: 32px auto 0px 0px;
    }

}