.footer__link {
    margin: 0px 18px 0px 0px;
    font-family: 'Inter', Arial, Helvetica, sans-serif;
    font-size: 16px;
    line-height: 1.2;
    font-weight: 400;
    text-decoration: none;
    color: #ffffff;
    cursor: url("../../../images/cursor.png"), url("../../../images/cursor.cur"), pointer;
    opacity: 1;
}
.footer__link:hover {
    opacity: 0.8;
}
.footer__link:nth-child(5) {
    margin: 0px;
}
@media screen and (max-width: 425px) {
    .footer__link {
        margin: 0px auto 32px 0px;
    }
}
@media screen and (max-width: 320px) {
    .footer__link {
        margin: 0px auto 32px 0px;
        font-size: 24px;
    }
    .footer__link:nth-child(1) {
        margin: 0px auto 0px 0px;
    }
    .footer__link:nth-child(5) {
        margin: 0px auto 0px 0px;
    }

}