.lead__title {
    margin: 0px 132px 32px;
    max-width: 720px;
    text-align: center;
    font-family: 'Inter', Arial, Helvetica, sans-serif;
    font-size: 96px;
    font-weight: 900;
    line-height: 104%;
}
@media screen and (max-width: 1220px) {
    .lead__title {
        margin: 0px auto 32px;
    }
}
@media screen and (max-width: 1024px) {
    .lead__title{
        margin: 0px 104px 32px;
    }
}
@media screen and (min-width: 769px) and (max-width: 1020px) {
    .lead__title {
        min-width: 100%;
        margin: 0px auto 32px;
    }
}
@media screen and (max-width: 768px) {
    .lead__title{
        margin: 0px 24px 32px;
        max-width: 720px;
        font-size: 13vw;
    }
}
@media screen and (max-width: 425px) {
    .lead__title{
        margin: 0px 68px 16px;
        max-width: 288px;
        font-size: 9vw;
        line-height: 110%; 
    }
}
@media screen and (max-width: 375px){
    .lead__title{
        margin: 0px auto 16px;
    }
}
@media screen and (max-width: 320px) {
    .lead__title{
        margin: 0px 16px 16px;
    }
}