.footer__copyright {
    margin: 0px;
    font-family: 'Inter';
    font-size: 14px;
    line-height: 114%;
    font-weight: 400;
    align-self: center;
}
@media screen and (max-width: 425px) {
    .footer__copyright {
        line-height: 100%;
        align-self: flex-end;
    }
}
@media screen and (max-width: 320px) {
    .footer__copyright {
        line-height: 100%;
        align-self: flex-start;
    }

}