.lead__subtitle {
    max-width: 640px;
    margin: 0px 172px 64px;
    font-family: 'Inter', Arial, Helvetica, sans-serif;
    font-size: 30px;
    line-height: 120%;
    font-weight: 400;
    text-align: center;
}
@media screen and (max-width: 1024px) {
    .lead__subtitle {
        margin: 0px 144px 56px;
    }
}
@media screen and (max-width: 768px) {
    .lead__subtitle {
        margin: 0px 24px 56px;
    }
}
@media screen and (max-width: 425px) {
    .lead__subtitle {
        margin: 0px 68px 40px;
        max-width: 288px;
        font-size: 20px;
        line-height: 125%;
    }
}
@media screen and (max-width: 375px){
    .lead__subtitle {
        margin: 0px 65px 40px;
        font-size: 18px;
    }
}
@media screen and (max-width: 320px) {
    .lead__subtitle {
        margin: 0px 16px 40px;
        font-size: 16px;
    }
}