.cover {
    margin: 92px 48px 0px;
    max-width: 1184px;
    min-height: 740px;
    background-image: url("../../images/__background.jpg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}
@media screen and (max-width: 1024px) {
    .cover {
        margin: 92px 0px 0px;
        min-height: 640px;
        max-width: 100%;
    }
}
@media screen and (max-width: 768px) {
    .cover {
        margin: 90px 0px 0px;
        min-height: 480px;
    }
}
@media screen and (max-width: 425px) {
    .cover {
        margin-top: 70px;
        min-height: 300px;
    }
}
@media screen and (max-width: 375px) {
    .cover {
        min-height: 250px;
    }
}
@media screen and (max-width: 320px) {
    .cover {
        margin: 66px 0px 0px;
        min-height: 200px;
    }

}