.place__link {
    margin: 0px auto 0px 0px;
    font-family: 'Inter', Arial, Helvetica, sans-serif;
    font-size: 18px;
    line-height: 122%;
    font-weight: 400;
    text-decoration: underline;
    color: #ffffff;
    cursor: url("../../../images/cursor.png"), url("../../../images/cursor.cur"), pointer;
    opacity: 1;
}
.place__link:hover {
    opacity: 0.8;
}