.cover__overlay {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-height: 740px;
    color: #ffffff;
    text-decoration: none;
    background-color: rgba(42, 44, 47, 0.3);
    cursor: url("../../../../images/Pointer.png"), pointer;

}
.cover__overlay:hover {
    background-color: rgb(42, 44, 47, 0.8);
}
@media screen and (max-width: 425px) {
    .cover__overlay {
        max-width: 420px;
        min-height: 300px;
    }
}
@media screen and (max-width: 375px) {
    .cover__overlay {
        min-height: 371px;
        min-height: 250px;
    }
}
@media screen and (max-width: 320px) {
   .cover__overlay {
       width: 100%;
       min-height: 200px;
   }
}