.footer__list {
    margin: 0px;
}
@media screen and (max-width: 635px) {
    .footer__list {
        justify-content: center;
    }
}
@media screen and (max-width: 425px) {
    .footer__list {
        margin-bottom: 32px;
    }
    .footer__list:last-child {
        margin-bottom: 0px;
    }
}